microservice-chart:
  namespace: "rtd"
  nameOverride: ""
  fullnameOverride: ""

  livenessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 60
    failureThreshold: 6
    periodSeconds: 10

  readinessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 60
    failureThreshold: 6
    periodSeconds: 10

  podAnnotations: { }

  service:
    create: false

  ingress:
    create: false

  serviceAccount:
    create: false
    annotations: { }
    name: ""

  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault

  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 65534
    runAsGroup: 65534

  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: appinsights-instrumentation-key
    KAFKA_SASL_JAAS_CONFIG_CONSUMER_BLOB_STORAGE_EVENTS: evh-rtd-platform-events-rtd-platform-events-sub-rtd
    INTERNAL_SERVICES_API_KEY: rtd-internal-api-product-subscription-key
    CSV_TRANSACTION_PRIVATE_KEY: cstarblobstorage-private-key
    CSV_TRANSACTION_PRIVATE_KEY_PASS: cstarblobstorage-private-key-passphrase

  envConfigMapExternals:
    rtddecrypter:
      OPENTELEMETRY_LOG_LEVEL: APPLICATIONINSIGHTS_INSTRUMENTATION_LOGGING_LEVEL
      CSV_TRANSACTION_DECRYPT_HOST: CSV_TRANSACTION_DECRYPT_HOST
      SPLITTER_LINE_THRESHOLD: SPLITTER_LINE_THRESHOLD
      ENABLE_CHUNK_UPLOAD: ENABLE_CHUNK_UPLOAD
      CONSUMER_TIMEOUT_MS: CONSUMER_TIMEOUT_MS

    rtd-blob-storage-events:
      KAFKA_TOPIC_BLOB_STORAGE_EVENTS: KAFKA_TOPIC_BLOB_STORAGE_EVENTS
      KAFKA_BROKER: KAFKA_BROKER_RTD




